.bg-black{background-color: black;}
.carousel-caption{
    
    transform: translateY(-50%);
    bottom: initial;
    top: 65%;
   
   
    

    
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;

}
.btn{
    background-color: darkorange;
}



.affix{
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }








  


.contact-section{background-image:url(../images/slidernew\ 2.jpg);background-size: 100%; background-repeat: no-repeat;
   }
.contact-section1{background-image:url(../images/slidernew\ 2.jpg);background-size: 100%;height: 700px; background-repeat: no-repeat;
}

   